<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
    <property name="MSG_FORMAT" value="%d [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="BASE_PATH" value="d:/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${MSG_FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/${spring.application.name}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${MSG_FORMAT}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>